@import "../node_modules/bootstrap/scss/bootstrap.scss";

/*! RESET MARGIN ,PADDING !  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* TEST BACKGROUND*/



header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1em;

}

.header-title {
  color: var(--white);
  font-size: 5rem;
  

}

#title-app,
.header-paragraph {
  color: var(--LawnGreen);
}

.header-paragraph{
  font-size: 2em;
}